@mixin centerflex() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin betweenflex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


    