/* ___fonts___: */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* ___main tags___: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* общее в теле */
.body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* убрать подчёркивание, сделать переход */
a {
    text-decoration: none;
    transition: .4s;
}

/* убрать из маркированного списка точки */
ul li {
    list-style: none;
}

/* свойство, чтобы картинка не выпадала за границы */
img {
    max-width: 100%;
    max-height: 100%;
}

button {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .4s;
}

.prt-fet-btn {
    display: flex;
    justify-content: center;
    padding: 15px 39px 14px 39px;
}

.prt-btn {
    color: #F26376;
    font-size: 16px;
    line-height: 19px;
}

.title-section {
    color: rgb(34, 34, 34);
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.title-section-text {
    color: rgb(159, 159, 159);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.title-price__link {
    color: #000000;
    font-size: 13px;
    line-height: 16px;
}

.price-text__link {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    padding-bottom: 16px;
}

.price_link {
    color: #F16D7F;
    font-size: 16px;
    line-height: 19px;
}

/* ___class styles___: */

/* header */
#header-section {
    padding: 0;
    background: rgb(241, 228, 230);
}

/* контейнер */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}

/* заголовок */
.header {
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 18px 0 19px 231px;
    width: 111px;
    height: 38px;
}

.header-logo__img {
    width: 44px;
    height: 38px;
}

.header-logo-img__btn {
    padding-bottom: 1px;
    width: 26px;
    height: 26.79px;
}

.nav-main-btn {
    margin: 26px 240px 20px 0;
    max-height: 29px;
}

.nav-main-btn__list {
    display: flex;
    gap: 33px;
}

.nav-main-btn__item {
    /**/
}

.nav-main-btn__link {
    /**/
}

.nav-main-btn__link__img1 {
    padding: 4px 0 2px 0;
    width: 32px;
    height: 23px;
}

.nav-main-btn__link__img2 {
    width: 29px;
    height: 29px;
}

.nav-main-btn__link__img3 {
    width: 32px;
    height: 29px;
}

/*banner*/
#banner-section {
    position: relative;
    overflow: hidden;
    /* padding-bottom: 65px; */
    background: rgb(241, 228, 230);
}

.banner {
    display: flex;
    max-width: 800px;
    gap: 16px;
    margin-left: 800px;
    padding-bottom: 65px;
    /* border: 1px solid chocolate; */
}

.banner-header__img {
    margin-top: 290px;
    margin-bottom: 392px;
    margin-left: 64px;
    width: 12px;
    height: 92px;
}

.banner-header {
    margin-top: 290px;
    max-width: 384px;
    margin-bottom: 380px;
}

.b-h__text1 {
    font-size: 48px;
    font-weight: 900;
}

.b-h__text2 {
    font-size: 32px;
    font-weight: 700;
}

.b-h__text3 {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;

}

.banner-img-main__photo {
    /**/
}

/*фото главное, находиться вне контейнера - будем позиционировать относительно этого блока #banner-section*/
.banner-img-main {

    /* background: rgb(241, 228, 230); */
    /* border: 1px solid chocolate; */
    position: absolute;
    width: 42%;
    height: 92.8%;
    top: 0;
    right: 0;
    left: 8.85%;
}

/*чтобы картинку можно было двигать:*/
.banner-img-main::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: url(./img/banner_Layer.png) 50%/cover no-repeat;
}

/*product*/
#product-section {
    padding-bottom: 96px;
}

.product-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(4, 360px); */
    gap: 30px;
    justify-content: center;
    margin: 0 230px;
    padding-top: 48px;
}

.product {
    /* position: relative; */
    /* max-height: 260px; */
    /* border: 1px solid chocolate; */
    background: url(./img/women.png) 50%/cover no-repeat;

}

.product:nth-child(2) {
    background-image: url(./img/men.jpeg);
}

.product:nth-child(3) {
    background-image: url(./img/kids.png);
}

.product:nth-child(4) {
    background-image: url(./img/ACCESORIES.png);
}

.item4 {
    grid-column: 1 / 4;
}

.product-text-wrap {
    display: flex;
    /* position: absolute;
    top: 105px;
    left: 104px; */
    flex-direction: column;
    align-items: center;
    padding: 105px 0 104px 0;
}

.product-offer {
    color: #FFFFFF;
    font-size: 16px;
}

.product-link {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

/*product-fetured*/

#product-fetured-section {
    padding-bottom: 70px;
}

.product-fetured {
    /* position: relative; */
    min-height: 581px;
    /* border: 1px solid chocolate; */
}

.pr-img {
    min-height: 420px;
}
.product-fetured_img1 {
    background: url(./img/1_f_i.jpeg) 50%/cover no-repeat;
}
.product-fetured_img2 {
    background: url(./img/2_f_i.png) 50%/cover no-repeat;
}
.product-fetured_img3 {
    background: url(./img/3_f_i.png) 50%/cover no-repeat;
}
.product-fetured_img4 {
    background: url(./img/4_f_i.png) 50%/cover no-repeat;
}
.product-fetured_img5 {
    background: url(./img/5_f-i.png) 50%/cover no-repeat;
}
.product-fetured_img6 {
    background: url(./img/6_f_i.png) 50%/cover no-repeat;
}





.title-and-price {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px 24px 16px;
}